.content
{
text-align:justify;
width: 1100px;
margin-left: 150px;
padding:20px;
}
.content1
{
text-align:justify;
width: 1100px;
margin-left: 160px;
padding:25px;

}
.head1
{
    margin-top: 2%;
}
.poster1
{height:300;
    width: 1000px;  
    padding:20px;
}